<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Friends 下载</title>

    <link th:href="@{/css/index.css}" rel="stylesheet">

</head>

<body>
    <div>
        <!--522 694-->
        <img th:src="@{/image/logologo.png}" alt="Find Friends"/>
        <button onclick="location.href='http://www.wanfuxiong.com/downloadFile?fileName=Find Friends V1.0.0.apk'">立即下载</button>
    </div>
</body>

</html>