<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanfuxiong.findfriends.mapper.MessageMapper">
    
    <select id="selectMessages" resultType="com.wanfuxiong.findfriends.pojo.Message">
        SELECT * FROM `find_friends`.`message` WHERE `to_user_id` = #{toUserID}
    </select>
    
    <insert id="insertMessage" parameterType="com.wanfuxiong.findfriends.pojo.Message">
        INSERT INTO `find_friends`.`message`
            (`to_user_id`, `from_user_id`, `message_data`, `date`, `send_type`)
        VALUES (#{toUserID}, #{fromUserID}, #{messageData}, #{date}, #{sendType})
    </insert>
</mapper>
